@using WebApplication21.Models;
@model List<Escuela>

@{
    ViewData["title"] = "Index";
}

@if (Model.Count != 0)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Direccion</td>
                    <td>@e.Tipo</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-body">
            No hay datos.
        </div>
    </div>
}